html,body,.container {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
}

.container {
  display: flex;
}

.image-container {
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
}

.container > .left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
}
.container > .left > .image-container {
  background-color: white;
}

.container > .right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.container > .right > .image-container {
  background-color: purple;
}